{% load static %}
<section data-bs-version="5.1" class="footer2 cid-tZlMaS1CpP" nonce="footers" id="footer-5-tZlMaS1CpP">


    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 center mt-2 mb-3">
                <p class="mbr-fonts-style copyright mb-0 display-7">© 2023 ДиагностикаЗдоровья</p>
            </div>
            <div class="col-12 col-lg-6 center">
                <div class="row-links mt-2 mb-3">
                    <ul class="row-links-soc">
                    <li class="row-links-soc-item mbr-fonts-style display-7">
                            <a href="{% url 'catalog:category_list' %}" class="text-white">Услуги</a>
                        </li><li class="row-links-soc-item mbr-fonts-style display-7">
                            <a href="{% url 'catalog:about' %}" class="text-white">О нас</a>
                        </li><li class="row-links-soc-item mbr-fonts-style display-7">
                            <a href="{% url 'blog:list' %}" class="text-white">Блог</a>
                        </li><li class="row-links-soc-item mbr-fonts-style display-7">
                            <a href="{% url 'catalog:contact' %}" class="text-white">Контакты</a>
                        </li></ul>
                </div>
            </div>
        </div>
    </div>
</section>