{% extends 'catalog/index.html' %}
{% block content %}
    {% load static %}
    <br>
    <br>
    <section data-bs-version="5.1" class="article15 cid-tZlMaRYs9Q" id="about-us-15-tZlMaRYs9Q">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md">

                    <h6 class="mbr-section-subtitle mbr-fonts-style mt-0 mb-4 display-5">
                        <strong>Мы - команда профессионалов, заботящихся о вашем здоровье.</strong>
                    </h6>
                </div>
                <div class="col-md-12 col-lg-6">
                    <p class="mbr-text mbr-fonts-style display-7">Наша компания специализируется на высокоточной медицинской диагностике, используя только самые современные технологии.</p>
                    <p class="mbr-text mbr-fonts-style display-7">Мы стремимся обеспечить наших пациентов качественными услугами и заботливым отношением.</p>
                    <p class="mbr-text mbr-fonts-style display-7">Ваше здоровье - наша главная ценность.</p>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="people03 cid-tZlMaRY6N0" id="team-1-tZlMaRY6N0">


        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 content-head">
                    <div class="mbr-section-head mb-5">
                        <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                            <strong>Наша Команда</strong>
                        </h4>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="{% static 'images/photo-1626899798511-c3eaacb02846.jpeg' %}" alt="Mobirise Website Builder" title="">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style display-5">
                                <strong>Александр</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Главный врач</h6>

                        </div>

                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="{% static 'images/photo-1536763225213-b5592b525630.jpeg' %}" alt="Mobirise Website Builder" title="">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style display-5">
                                <strong>Екатерина</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Врач-терапевт</h6>

                        </div>

                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="{% static 'images/photo-1662795854059-547d94855285.jpeg' %}" alt="Mobirise Website Builder" title="">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style display-5">
                                <strong>Дмитрий</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Врач-хирург</h6>

                        </div>

                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                           <img src="{% static 'images/photo-1626882048554-d950f9784496.jpeg' %}" alt="Mobirise Website Builder" title="" data-slide-to="3" data-bs-slide-to="3">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style display-5">
                                <strong>Ольга</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Врач-гинеколог</h6>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}