{% extends 'catalog/index.html' %}
{% block content %}
<section data-bs-version="5.1" class="form5 cid-tZlMaS1ydf" id="contact-form-2-tZlMaS1ydf">


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Создать Категорию</strong>
                    </h4>

                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form method="POST" enctype="multipart/form-data" class="mbr-form form-with-styler" data-form-title="Form Name">
                    <div class="dragArea row">
                        {% csrf_token %}
                        {{ form.as_div }}
                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                            <button type="submit" class="btn btn-success display-7">Создать</button>
                            <a href="{% url 'catalog:category_list' %}" class="btn btn-link">Назад</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}